<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_AlternativeProduct>
            <version>0.0.1</version>
        </Loewenstark_AlternativeProduct>
    </modules>
    <global>
        <helpers>
            <alterproducts>
                <class>Loewenstark_AlternativeProduct_Helper</class>
            </alterproducts>
        </helpers>
        <blocks>
            <alterproducts>
                <class>Loewenstark_AlternativeProduct_Block</class>
            </alterproducts>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <alterproducts>
                    <file>Loewenstark_AlternativeProduct.xml</file>
                </alterproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <Loewenstark_AlternativeProduct>
                    <files>
                        <default>Loewenstark_AlternativeProduct.csv</default>
                    </files>
                </Loewenstark_AlternativeProduct>
            </modules>
        </translate>
    </frontend>
</config>